{% extends "base.html" %}

{% block content %}
        <div>
            <h1>Logueate</h1>
            <form action="{{url}}" method="POST">
                Usuario:<input type="text" name="user"><br>
                Contraseña:<input type="password" name="password" ><br>
                <input type="submit" name="send" value="Enviar"> 
            </form>
            <p>
                No te registraste?<br>
                Registrate ahora <a href="{{reg}}"> aca.</a>
            </p>
            
        </div>
        <style>
            div{
                margin-left:250px;
                width: 400px;
                height: 200px;
                background-color: aliceblue;
                border-radius: 50px;
            }
            form{
                margin-left:100px;
            }
            h1{
                margin-left:100px;
            }
        
        </style>
{% endblock %}
